@model List<PedidoModel>

<h1>Pedidos do Cliente @ViewBag.NomeClienteIndex.ToString()</h1>
<table class="table table-dark">
    <thead>
        <tr>
            <th>Pedido</th>
            <th>Abertura</th>
            <th>Fechamento</th>
            <th>Entrega</th>
            <th>Valor Pedido</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.PedidoId</td>
                <td>@item.DataAbertura</td>
                <td>@(item.DataFechamento == null ? "Não Fechado..." : item.DataFechamento)</td>
                <td>@(item.DataEntrega == null ? "Não Entregue..." : item.DataEntrega)</td>
                <td>@item.ValorTotal</td>
                <td>
                    @{ if(@item.DataFechamento == null) {
                    <a class="btn btn-primary btn-sm" asp-controller="Pedido" asp-action="Fechar" asp-route-idCliente="@item.ClienteId" asp-route-idPedido="@item.PedidoId">Fechar</a>
                    } else {
                    <a class="btn btn-secondary btn-sm">Fechado</a>
                    }}
                    @{ if(@item.DataEntrega == null) {
                   <a class="btn btn-primary btn-sm" asp-controller="Pedido" asp-action="EntregarListaEndereco" asp-route-idCliente="@ViewBag.IdClienteIndex" asp-route-idPedido="@item.PedidoId">Entregar</a>
                    } else {
                    <a class="btn btn-secondary btn-sm">Entregue</a>
                    }}
                    
                    <a class="btn btn-primary btn-sm" asp-controller="Pedido" asp-action="EditarPedido" asp-route-idPedido="@item.PedidoId">Editar</a>
                    <a class="btn btn-primary btn-sm" asp-controller="Pedido" asp-action="Excluir" asp-route-idCliente="@ViewBag.IdClienteIndex" asp-route-idPedido="@item.PedidoId">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a class="btn btn-primary" asp-controller="Pedido" asp-action="Cadastrar" asp-route-idCliente="@ViewBag.IdClienteIndex">Adicionar</a>