@model List<PedidoModel>

@{
    ViewBag.TituloPagina = "Home";
}

<h1>Pedidos em Aberto</h1>

<table class="table table-dark">
    <thead>
        <tr>
            <th>Pedido</th>
            <th>Cliente</th>
            <th>Abertura</th>
            <th>Fechamento</th>
            <th>Entrega</th>
            <th>Valor Pedido</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.PedidoId</td>
                <td>@item.Cliente.NomeCliente</td>
                <td>@item.DataAbertura</td>
                <td>@(item.DataFechamento == null ? "Não Fechado..." : item.DataFechamento)</td>
                <td>@(item.DataEntrega == null ? "Não Entregue..." : item.DataEntrega)</td>
                <td>@item.ValorTotal.ToString("C2")</td>
                <td>
                    <a class="btn btn-primary btn-sm" asp-controller="Pedido" asp-action="FecharPedidoHome" asp-route-idPedido="@item.PedidoId">Fechar</a>
                    <a class="btn btn-primary btn-sm" asp-controller="Pedido" asp-action="EditarPedido" asp-route-idPedido="@item.PedidoId">Editar</a>
                    <a class="btn btn-primary btn-sm" asp-controller="Pedido" asp-action="ExcluirIndexHome" asp-route-idPedido="@item.PedidoId">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>
