@model List<ClienteModel>

<table class="table table-dark">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nome do Cliente:</th>
            <th>Email do Cliente</th>
            <th>CPF do cliente</th>
            <th>Idade do Cliente</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in @Model)
        {
            <tr>
                <td>@item.ClienteId</td>
                <td>@item.NomeCliente</td>
                <td>@item.EmailCliente</td>
                <td>@item.CPFCliente</td>
                <td>@((int.Parse(DateTime.Now.ToString("yyyymmdd")) - int.Parse(item.DataNascimento.ToString("yyyymmdd")))/10000) Anos de idade</td>
                <td>
                    <a class="btn btn-primary" asp-controller="Pedido" asp-action="Index" asp-route-idCliente="@item.ClienteId">Pedidos</a>
                    <a class="btn btn-primary" asp-controller="Endereco" asp-action="Index" asp-route-id="@item.ClienteId">Endereços</a>
                    <a class="btn btn-primary" asp-controller="Cliente" asp-action="Cadastrar" asp-route-id="@item.ClienteId">Editar</a>
                    <a class="btn btn-primary" asp-controller="Cliente" asp-action="Excluir" asp-route-id="@item.ClienteId">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a class="btn btn-primary" asp-controller="Cliente" asp-action="Cadastrar">Adicionar</a>