@model List<ProdutoModel>

@{
    ViewBag.TituloPagina = "Produto";
}

<table class="table table-dark">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nome do Produto</th>
            <th>Estoque</th>
            <th>Preço</th>
            <th>Categoria</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in @Model)
        {
            <tr>
                <td>@item.ProdutoId</td>
                <td>@item.NomeProduto</td>
                <td>@item.QuantidadeEstoque</td>
                <td>@(item.PrecoProduto.ToString("C"))</td>
                <td>@item.Categoria.NomeCategoria</td>
                <td>
                    <a class="btn btn-primary" asp-controller="Produto" asp-action="Cadastrar" asp-route-id="@item.ProdutoId">Editar</a>
                    <a class="btn btn-danger" asp-controller="Produto" asp-action="Excluir" asp-route-id="@item.ProdutoId">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a class="btn btn-primary" asp-controller="Produto" asp-action="Cadastrar">Adicionar</a>