@model List<EnderecoModel>

<table class="table table-dark">
    <thead>
        <tr>
            <th>Id</th>
            <th>Endereço</th>
            <th>Complemento</th>
            <th>Cep</th>
            <th>Cidade</th>
            <th>Estado</th>
            <th>DDD</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.EnderecoId</td>
                <td>@item.Logradouro</td>
                <td>@item.complemento</td>
                <td>@item.Cep</td>
                <td>@item.localidade</td>
                <td>@item.uf</td>
                <td>@item.ddd</td>
                <td>
                    <a class="btn btn-primary">Editar</a>
                    <a class="btn btn-primary">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a class="btn btn-primary" asp-controller="Endereco" asp-action="Cadastrar">Adicionar</a>
<a class="btn btn-primary" asp-controller="Cliente" asp-action="Index">Retornar</a>